html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(lightblue, blue);
    font-size: large;
}

a {
    color: blue;
}

select, input {
    font-size: large;
}